@model CategoryViewModel;
@{
    ViewData["Title"] = Model.Title;
}

<h1 class="display-3">@ViewData["Title"]</h1>
<div class="alert alert-info">
    @Model.Description
</div>
@foreach (var post in @Model.ForumPosts)
{
    <div class="media-body border border-success mb-1">
        <h4 class="media-heading"><a asp-controller="Post" asp-action="GetPostById" asp-route-id="@post.Id">@post.Title</a></h4>
        <p>@post.ShortContent</p>
        <p class="">
            <ul class="list-inline list-unstyled text-right">
                <li class="list-inline-item">
                    <i class="fas fa-user-edit"> @post.UserUserName</i>
                </li>
                <li class="list-inline-item">
                    <i class="far fa-calendar-alt"> @post.CreatedOn</i>
                </li>
                <li class="list-inline-item">
                    <i class="fas fa-comment-dots"> @post.CommentsCount comments</i>
                </li>
            </ul>
        </p>
    </div>
}

<nav>
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="ForumCategory" asp-route-name="@Model.Title" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= Model.PagesCount; i++)
        {
            var active = i == Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" asp-route="ForumCategory" asp-route-name="@Model.Title" asp-route-page="@i">@i</a>
            </li>
        }

        @if (Model.CurrentPage == Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="ForumCategory" asp-route-name="@Model.Title" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        }
    </ul>
</nav>
